## Creazione del dataSet Meteo

Unione dei principali dataset ovvero tra i sensori meteo e i dati

In [2]:
import pandas as pd

In [5]:
#Carica dati dai file
stazioni_meteo = pd.read_csv("/content/drive/Shared drives/MLDM progetto/Datasets/Stazioni_Meteorologiche.csv") 
dati_stazioni = pd.read_csv("/content/drive/Shared drives/MLDM progetto/Datasets/Dati_sensori_meteo_2020_4_8_2020.csv")

In [7]:
dati_stazioni.head(5)

   IdSensore                 Data  Valore Stato  idOperatore
0          9  01/01/2020 00:00:00     0.0    VA            4
1         46  01/01/2020 00:00:00     0.0    VA            4
2        115  01/01/2020 00:00:00     2.9    VA            1
3        116  01/01/2020 00:00:00     0.0    VA            4
4        117  01/01/2020 00:00:00   214.0    VA            1