<a href="https://colab.research.google.com/github/Tomawock/MLDM_COVID-19/blob/master/ProtezioneCivile_DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creazione del dataSet della protezione civile

Le elaborazioni si concentrano sulla riduzione del dataset a una versione di esso più leggera e con il formato delle date omogeneo con gli altri dataset.

In [24]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import os

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Eliminazione colonne certamente superflue.

In [21]:
url = 'https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-json/dpc-covid19-ita-regioni.json'
dataSet = pd.read_json(url)
isLombardia = dataSet["denominazione_regione"]=="Lombardia"
dataSet = dataSet[isLombardia]
dataSet = dataSet.drop(columns=["stato", "codice_regione", "denominazione_regione", "lat", "long", "note", "casi_da_sospetto_diagnostico", "casi_da_screening", "casi_testati"])

dataSet

                     data  ricoverati_con_sintomi  ...  totale_casi  tamponi
8     2020-02-24T18:00:00                      76  ...          172     1463
29    2020-02-25T18:00:00                      79  ...          240     3700
50    2020-02-26T18:00:00                      79  ...          258     3208
71    2020-02-27T18:00:00                     172  ...          403     3320
92    2020-02-28T18:00:00                     235  ...          531     4835
...                   ...                     ...  ...          ...      ...
3347  2020-08-01T17:00:00                     158  ...        96274  1308507
3368  2020-08-02T17:00:00                     153  ...        96312  1316219
3389  2020-08-03T17:00:00                     162  ...        96337  1320427
3410  2020-08-04T17:00:00                     160  ...        96381  1326123
3431  2020-08-05T17:00:00                     164  ...        96519  1335383

[164 rows x 12 columns]

Omogeneizzazione delle date.

In [22]:
dataSet["data"] = pd.to_datetime(dataSet["data"], format='%Y-%m-%dT%H:%M:%S')
dataSet["data"] = dataSet["data"].dt.normalize()

dataSet

           data  ricoverati_con_sintomi  ...  totale_casi  tamponi
8    2020-02-24                      76  ...          172     1463
29   2020-02-25                      79  ...          240     3700
50   2020-02-26                      79  ...          258     3208
71   2020-02-27                     172  ...          403     3320
92   2020-02-28                     235  ...          531     4835
...         ...                     ...  ...          ...      ...
3347 2020-08-01                     158  ...        96274  1308507
3368 2020-08-02                     153  ...        96312  1316219
3389 2020-08-03                     162  ...        96337  1320427
3410 2020-08-04                     160  ...        96381  1326123
3431 2020-08-05                     164  ...        96519  1335383

[164 rows x 12 columns]

Salvataggio nel drive condiviso

In [26]:
os.chdir('/content/drive/Shared drives/MLDM progetto/Datasets')
dataSet.to_csv("protezioneCivile.csv", index=False)